.flow {
  display: flex;
  flex-direction: column;
}

.header_links ul {
  display: flex;
  margin: 5%;
  gap: 10%;
  list-style-type: none;
  font-size: 18px;
  white-space: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  flex: 1 1 auto;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: roboto;
}

.hero {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 45% 0 0;
  padding: 3% 0 3% 0;
}

.hero {
  padding: 0 10% 0 10%;
}

.hero > img {
  flex: 1 1 auto;
  max-height: 40%;
  max-width: 30%;
  margin: 3% 0 3% 0;
}

.hero > h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero > .text > button {
  color: #f9faf8;
  background-color: #3882f6;
  max-width: 35%;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 6px 7px 6px;
  border: 0 solid #000;
}
