.flow {
  display: flex;
  flex-direction: column;
}

.header_links ul {
  display: flex;
  margin: 5%;
  gap: 3%;
  list-style-type: none;
  font-size: 18px;
  white-space: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  flex: 1 1 auto;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: roboto;
}
